
<table class="table tbTablaConsulta">
    <thead>
      <tr>
        <th hidden="true" scope="col">Id</th>
        <th scope="col"> Documento </th>
        <th scope="col"> Nombre </th>
        <th scope="col"> Telefono </th>
        <th scope="col"> Correo </th>
        <th scope="col"> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td hidden="true">1</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <a data-bs-toggle="modal" data-bs-target="#modalModificar">
            <img src="../../../../assets/icon/modificar.png" id="imgModificar" title="Modificar" alt="Bootstrap" width="28" height="28">
          </a>
          <a data-bs-toggle="modal" data-bs-target="#modalEliminar">
            <img src="../../../../assets/icon/eliminar.png" id="imgEliminar" title="Eliminar" alt="Bootstrap" width="26" height="28">
          </a>
        </td>
      </tr>
    </tbody>
  </table>