
#divPrincipal {
    margin: 5px;
}

.tbTablaConsulta {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a > #imgModificar {
    cursor: pointer;
}

a > #imgEliminar {
    margin-left: 10px;
    cursor: pointer;
}

div > table {
    background-color: #DBE2F1;
    border-radius: 10px;
}