
<table class="table tbTablaConsulta">
    <thead>
      <tr>
        <th hidden="true" scope="col">Id</th>
        <th scope="col"> Documento </th>
        <th scope="col"> Nombre </th>
        <th scope="col"> Telefono </th>
        <th scope="col"> Correo </th>
        <th scope="col"> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let cliente of clientes; let i = index">
        <td hidden="true"> {{cliente.id}} </td>
        <td> {{cliente.documento}} </td>
        <td> {{cliente.nombres}} {{cliente.apellidos}} </td>
        <td> {{cliente.telefono}} </td>
        <td> {{cliente.correo}} </td>
        <td>
          <a>
            <img src="../../../../assets/icon/modificar.png" id="imgModificar" title="Modificar" alt="Bootstrap" width="28" height="28">
          </a>
          <a (click)="eliminar(cliente.id)">
            <img src="../../../../assets/icon/eliminar.png" id="imgEliminar" title="Eliminar" alt="Bootstrap" width="26" height="28">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
